body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  background-color: #23272f;
  color: #f6f7f9;
}

#root {
  flex: 1;
}

#username-label {
  /*Hack for placeholder form field, should fix*/
  color: #C0C0C0;
}